{% extends 'base.html.twig' %}

{% block title %}{{"page.user.list.mainTitle"|trans}}{% endblock %}

{% block body %}
    <div class="page-user-list">
        {% for type, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-{{type}} alert-dismissible fade show">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col">
                {{ include('user/fragment/new.html.twig') }}
            </div>
        </div>
        <hr/>
        <div class="row">
        <h1>{{"page.user.list.title"|trans}}</h1>
        </div>
        <div class="row">
            <div class="col">
                <table class="table list-users">
                    <thead>
                        <tr>
                            <th>{{"page.user.list.table.colName"|trans}}</th>
                            <th>{{"page.user.list.table.colAge"|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.age }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">{{"page.user.list.table.nodata"|trans}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
